# Default ignored files
/../../BS-FSE-2025-Team7 /.idea/shelf/
/../../BS-FSE-2025-Team7 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../BS-FSE-2025-Team7 /.idea/httpRequests/
# Datasource local storage ignored files
/../../BS-FSE-2025-Team7 /.idea/dataSources/
/../../BS-FSE-2025-Team7 /.idea/dataSources.local.xml
